<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">About Us</h1>

    <h3>
        Hy! I am Mandar Kamble
    I am an undergraduate IT student at Walchand collage of engineering sangli,sangli(WCE) with passion to work in IT domain with willingness to learn new technical skills. 
    Im a Web and App Developer
    </h3>
    <br>
    <h3>
        This project is LineDiary which is a website to maintain your diaries in a secure ways 
    We used 6 lavels of authentication.
    </h3>
  </div>
</div>

<%- include('partials/footer') %>
 
