<%- include('partials/header') %>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script&family=Kanit:wght@300&family=Ms+Madi&family=Pacifico&display=swap');
  </style>

<div class="jumbotron centered" style="background-image: url('../public/pexels-pixabay-531880.jpg');">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    
    <h1 class="display-3" style="font-family: 'Pacifico', cursive;">LineDiary</h1>
    <p class="lead">Don't just blow your moments, Keep them into Diary!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
