<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Diary</h1>
    <p class="secret-text">Keep a diary, and someday it'll keep you.!</p>
    <h2> <%=CurrDate%> </h2>
    <form action="/submit" method="POST">

      <div class="form-group">

        <input  style="height:300px;" type="text" class="form-control text-center" name="secret" placeholder="How's your day?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
